/* body {
    width: 100vw;
  }
  

body {
  background: linear-gradient(#c84359, #f8e354);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
  ;
}

#genre {
  font-size: 1.25em ;
}

#label {
  font-size: 1.5em;
}

p {
  text-align: center;
}

.album-cover {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h3 {
  text-align: center;
}

.track-name {
  font-size: 1.2em;
}
 
.track-name:hover {
  text-decoration: underline;
}

#track-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */